{% extends "base.html" %}

{% block css %}
	<link rel="stylesheet" href="{{ STATIC_URL }}css/sections.css">
{% endblock %}

{% block main_content %}
	<section class="somos">
		<h2>¿Quienes somos?</h2>
		<img class="orden" src="{{ STATIC_URL }}img/orden_san_lazaro.jpg" alt="Foto Integrantes Orden San Lazaro" style="float: left;">
		<p>
			La milenaria Orden de San Lázaro es una orden de caballería que nació en el año 1098 con motivo de la primera Cruzada; desde sus inicios, su objetivo principal fue ayudar a los enfermos y vulnerables y promover los principios de caballería que fomentaran la unidad de sus miembros.
		</p>
		<p>
			En un principio, la Orden de San Lázaro y la Orden de San Juan –hoy la Soberana Orden Militar y Hospitalaria de San Juan de Jerusalén, de Rodas y de Malta- estaban unidas. Gerardo Tum, de Martigues, fundó la Orden siendo director del Hospital de Nuestra Señora en Jerusalén desde antes que los cruzados conquistaran la ciudad bajo el mando de Godofredo de Bouillón en el 1099.
		</p>
		<p>
			Varios cronistas de la época, como Guillermo, arzobispo de Tiro, no distinguían sobre la Orden de San Lázaro y la Orden de San Juan, refiriéndose a ellas juntas como Hospitalarias. La Orden de San Lázaro creció considerablemente y para 1256 estaba a la par de los Templarios y la Orden de San Juan. Estas dos ordenes se separaron en el 1120 cuando Boyand Roger, rector del Hospital de Jerusalén fue electo Gran Maestre de los Hospitalarios de San Lázaro.
		</p>
		<p>
			La primera referencia escrita que tenemos sobre San Lázaro como una orden militar es una carta escrita por el rey Enrique II de Inglaterra en 1159, en la cual le hace una generosa donación y se refiere a ella como los “Caballeros y Hermandad de San Lázaro“.
		</p>
		<p>
			Durante la edad media, la lepra era una enfermedad común en Asia; al ser una enfermedad vergonzante, de lento desarrollo y mortal, se obligaba a la separación de los enfermos, los cuales quedaban marcados por las huellas de la enfermedad en sus cuerpos. Muchos cruzados contraían la enfermedad y desde ese momento pintaban su cruz de verde para distinguirse de los demás.
		</p>
		<p>
			La creación de la Orden de San Lázaro conllevó a crear un hospital separado, para el cuidado específico de la lepra. Los caballeros Templarios que contraían la lepra eran enviados a unirse a la Orden de San Lazaro y fueron estos caballeros quienes entrenaron a los hermanos de San Lázaro en las artes militares y quienes fueron responsables de transformar a la Orden en una militar.
		</p>
		<p>
			El símbolo de la Orden es la cruz de malta, misma que fue utilizada por los cruzados. Cada una de sus ocho puntas nos recuerda las ocho obligaciones o aspiraciones de los caballeros: Vivir con la verdad, tener fe, arrepentirse de sus pecados, dar muestras de humildad, amar la justicia, ser compasivo, ser sincero y comprometido y triunfar ante la persecución. Hoy en día la Orden tiene miembros en todo el mundo.
		</p>
		<p>
			La delegación de la Orden en México, fiel a su vocación de atender a los enfermos de lepra y gracias al apoyo de las hermanas religiosas de los Sagrados Corazones de Jesus y María, ha constituido tres hospitales en Morelia, La Barca e Irapuato donde atendemos a XX pacientes al año.
		</p>
	</section>
{% endblock %}