{% extends "base.html" %}
{% load blog_extras %}

{% block css %}
	<link rel="stylesheet" href="{{STATIC_URL}}css/index.css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/fractionslider.css">
{% endblock %}

{% block scripts_top %}
	<script src="{{STATIC_URL}}js/jquery.fractionslider.js"></script>
{% endblock %}

{% block main_content %}
<section class="slider">
	<div class="slider">
		<div class="slide">
			<img 	
				src="{{STATIC_URL}}img/slider/slide1.png"
				width="780" height="435"			
				data-delay="200"
				data-in="fade"
				data-out="fade"
				data-out="left"
				data-position="0,0"
				data-step="0"
			>
			<p
				class="slide1 heading"
				data-delay="50"
				data-in="left"
				data-position="62,960"
				data-step="0"
			>La lepra es Curable</p>
			<p
				class="slide1 text"
				data-delay="50"
				data-in="fade"
				data-position="116, 960"
				data-step="1"
			>Aprendamos de la Enfermedad</p>
			<p
				class="slide1 text"
				data-delay="50"
				data-in="fade"
				data-position="156,960"
				data-step="1"
			>Acabemos con las Falsas Creencias</p>
		</div>
		<div class="slide">
			<p>PRUEBA</p>
		</div>
		<div class="fs_loader"></div>
	</div>
</section>
<section class="about">
	<ul class="clear">
		<li class="somos">
			<span class="icon"></span>
			<h2>¿Quienes Somos?</h2>
			<div class="display">
				<p>La Orden Militar y Hospitalaria de San Lázaro de Jerusalén es una de la Ordenes de Caballería que sobrevivió de la caída del reino de Jerusalén y el intento por los caballeros cruzados de ganar el control de Tierra Santa de las fuerza del Islam. En teoría la orden permaneció como militar, pero con la excepción de un breve periodo en el siglo XVII  no jugó un papel militar después de 1291.</p>
				<a href="{% url 'somos' %}">Leer Más...</a>
			</div>
		</li>
		<li class="actividades">
			<span class="icon"></span>
			<h2>Actividades Humanitarias</h2>
			<div class="display">
				<p>El principal propósito de la Orden siempre ha sido la caridad, el cuidado de enfermos y la reafirmación de la cristiandad. La Orden Militar y Hospitalaria de San Lázaro de Jerusalén ha sido mundialmente reconocida por sus labores altruistas dirigidas al cuidado de los enfermos a través de la operación de clínicas de diversos tipos y hospitales.</p>
				<a href="{% url 'somos' %}">Leer Más...</a>
			</div>
		</li>
		<li class="historia">
			<span class="icon"></span>
			<h2>Historia</h2>
			<div class="display">
				<p>Fue en 1098 durante la primera cruzada cristiana que conquistó Jerusalén cuando la Orden de  San Lázaro surgió como una Orden Militar y Hospitalaria, una institución dedicada al cuidado y alivio de los enfermos de lepra  así como de otras enfermedades igualmente temidas.</p>
				<a href="{% url 'somos' %}">Leer Más...</a>
			</div>
		</li>
	</ul>
</section>
<section class="news clear">
	<h2>Noticias / Eventos</h2>
	<script id="feed-1392934583184772" type="text/javascript" src="http://rss.bloople.net/?url=http%3A%2F%2Femails2rss.appspot.com%2Frss%3Fid%3D46fe206b09a9a04c7b0b06d09cc5edf8d075&limit=10&showtitle=false&forceutf8=true&type=js&id=1392934583184772"></script>
</section>
{% endblock %}

{% block scripts_bottom %}
	<script src="{{STATIC_URL}}js/main.js"></script>
	<script>
	(function(){
		$(".about li").on('click', function(){
			$this = $(this);
			scroll_y = $(window).scrollTop()

			$('html').animate({
				scrollTop: $this.offset().top
			}, 500);
		});

		$('a[href="http://emails2rss.appspot.com/email?key=b19c598f0ecd5047a208163083e7f0dd61d9d8ac32820114504d4308dc20ccee96788ae4"]').removeAttr('href');

		$('.rss2html-note').css('display', 'none');
	})();
	</script>
{% endblock scripts_bottom %}