body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
	color: #666;
}

* {
	margin: 0;
	padding: 0;
}

/* Bloques Principales */

header.main{
	background: url('../img/bg_header.jpg') repeat-x center top;
	height: 112px;
}

header.main h1.logo{
	background: url('../img/logo.png') no-repeat center top;
	display: block;
	height: 185px;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	text-indent: -9999px;
	top: .25em;
	width: 137px;
	z-index: 2;
}

header.main nav.main{
	/*background: red;*/
	height: 32px;
	padding-top: 80px;
	max-width: 896px;
	margin: 0 auto;
}

nav.main li{
	display: block;
	/*background: green;*/
	width: 112px;
	text-align: center;
	height: 32px;
}

nav.main li.left{
	float: left;
}

nav.main li.right{
	float: right;
}

nav.main a{
	text-decoration: none;
	color: white;
	line-height: 200%;
}

nav.main a:hover{
	text-shadow: 2px 2px 2px rgba(0,0,0,.5);
}

footer.main{
	background: #B15F13;
	max-width: 1280px;
	margin: 0 auto;
	color: #eee;
	padding: 2em 0;
}

footer.main .left{
	float: left;
	max-width: 36%;
}

footer.main .right{
	float: right;
	width: 54%;
}

.contacto-rapido p{
	margin: .5em 0;
}

.contacto-rapido label{
	float: left;
	display: block;
	width: 96px;
}

.contacto-rapido input[type="text"]{
	width: 80%;
	border: none;
	height: 24px;
	border-radius: .5em;
	padding: .25em .5em;
	background: rgba(255,255,255,0.75);
}

.contacto-rapido textarea{
	width: 80%;
	border: none;
	border-radius: .5em;
	height: 100px;
	background: rgba(255,255,255,0.75);
}

.contacto-rapido input[type="submit"]{
	display: block;
	border: 0;
	background: #66850D;
	color: #eee;
	padding: .5em 1em;
	float: right;
	margin-right: 3em;
	border-radius: .5em;
}

footer.main h3{
	margin: 1em;
}

footer.main .datos-contacto{
	list-style: none;
	margin: 0 4em;
}

footer.main .socialmedia{
	margin: 1em 6em;
	list-style: none;
}

footer.main .socialmedia li{
	display: block;
	float: left;
	margin: 0 .5em;
}

footer.main .socialmedia a{
	display: block;
	background: url('../img/sprite_socialmedia.png');
	width: 32px;
	height: 32px;
	text-indent: -999px;
}

footer.main .socialmedia a.facebook{ background-position: 0 -32px; }
footer.main .socialmedia a.twitter{ background-position: -32px -32px; }
footer.main .socialmedia a.gplus{ background-position: -64px -32px; }
footer.main .socialmedia a.facebook:hover{ background-position: 0 0; }
footer.main .socialmedia a.twitter:hover{ background-position: -32px 0; }
footer.main .socialmedia a.gplus:hover{ background-position: -64px 0; }

footer.main .datos-contacto span{
	color: #ccc;
	margin-left: 2em;
}

/* Arreglos Generales */

.clear:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

img[style="float: left;"]{
	margin: 0 1em 1em 0;
}

img[style="float: right;"]{
	margin: 0 0 1em 1em;
}